body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    justify-content: center;
}


/* padding for overall contents */
.header, .hero, .footer, .showcase ,.quote, .ads{
    padding: 20px 400px 10px 400px;
}

/* Header and hero background-color and font-color */
.header, .hero{
    background-color: #1F2937;
    color: white;
}

/* header section */
.header{
    display: flex;
    font-size: 24px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

/* Setting of header links */
.header ul{
    display: flex;
    justify-content: end;
    gap: 32px;
    list-style: none;
    margin: 0;
}

/* Button background color */
button {
    background-color: #3882F6;
    color:white;
    padding: 8px;
    width: 100px;
    border-radius: 10%;
}

/* Hero section */
.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero .case {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.main, .sub{
    margin: 0;
    display: inline-block;
}

.hero .case .main{
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
}

.hero .case .sub{
    max-width: 500px;
}


/* showcase section */
.showcase{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    gap: 40px;
}

.showcase .main{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.case p {
    max-width: 200px;
}

.showcase img{
    border: 5px solid #3882F6;
    border-radius: 10%;
    min-width: 200px;
}

.container{
    display: flex;
    gap: 50px;
}

/* Ads section */

.ads{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Quote section */

.quote{
    background-color: #e5e7eb;
}

.quote{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote .main{
    font-size: 36px;
    color: #1F2937;
    max-width: 1000px;
    align-items: start;
    font-style: italic;
    font-weight: 300;
}

.quote .sub{
    color: #1F2937;
    display: flex;
    justify-content: end;
    font-weight: 900;
    margin-left: 500px;
}


li , .sub{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}